cmake_minimum_required(VERSION 3.12)

project(rapidcheck-download NONE)

include(ExternalProject)
ExternalProject_Add(rapidcheck
  GIT_REPOSITORY    https://github.com/emil-e/rapidcheck
  GIT_TAG           master
  SOURCE_DIR        "${CMAKE_CURRENT_BINARY_DIR}/rapidcheck-src"
  BINARY_DIR        "${CMAKE_CURRENT_BINARY_DIR}/rapidcheck-build"
  CONFIGURE_COMMAND ""
  BUILD_COMMAND     ""
  INSTALL_COMMAND   ""
  TEST_COMMAND      ""
)
